{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-paymento-io" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-save"></i></button>
        <a href="{{ cancel }}" data-bs-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="card">
      <div class="card-header">
        <i class="fa fa-pencil"></i> {{ text_edit }}
      </div>
      <div class="card-body">
        <form action="{{ save }}" method="post" data-oc-toggle="ajax" enctype="multipart/form-data" id="form-paymento-io" class="form-horizontal">
              <div class="form-group required {% if error_title %} has-error{% endif %}"><div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="entry-title">{{ entry_title }}</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_paymento_title" value="{{ payment_paymento_title }}" placeholder="{{ entry_title }}" id="entry-title" class="form-control"/>
                  {% if error_title %}
                  <div class="text-danger">{{ error_title }}</div>
                  {% endif %}
                </div>
              </div></div>
              <div class="form-group required {% if error_apikey %} has-error{% endif %}"><div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="entry-apikey">{{ entry_apikey }}</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_paymento_apikey" value="{{ payment_paymento_apikey }}" placeholder="{{ entry_apikey }}" id="entry-apikey" class="form-control"/>
                  {% if error_apikey %}
                  <div class="text-danger">{{ error_apikey }}</div>
                  {% endif %}
                </div>
              </div></div>

              <div class="form-group required"><div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="input-secret-key">{{ entry_secret_key }}</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_paymento_secret_key" value="{{ payment_paymento_secret_key }}" placeholder="{{ entry_secret_key }}" id="input-secret-key" class="form-control"/>
                    {% if error_secret_key %}
                        <div class="text-danger">{{ error_secret_key }}</div>
                        {% endif %}
                </div>
              </div></div>

              <div class="form-group required {% if error_risk %} has-error{% endif %}"><div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="entry-risk"><span data-toggle="tooltip" title="{{ entry_risk }}">{{ entry_risk }}</span></label>
                <div class="col-sm-10">
                  <select name="payment_paymento_risk" id="entry-risk" class="form-control">
                    <option value="1" {% if payment_paymento_risk == 1 %} selected="selected" {% endif %} >{{ text_risk_2 }}</option>
                    <option value="0" {% if payment_paymento_risk == 0 %} selected="selected" {% endif %} >{{ text_risk_0 }}</option>
                  </select>
                  {% if error_risk %}
                  <div class="text-danger">{{ error_risk }}</div>
                  {% endif %}
                </div>
              </div></div>
              <div class="form-group"><div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="input-debug"><span data-toggle="tooltip" title="{{ help_debug }}">{{ entry_debug }}</span></label>
                <div class="col-sm-10">
                  <select name="payment_paymento_debug" id="input-debug" class="form-control">
                    {% if payment_paymento_debug %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div></div>
              <div class="form-group"><div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="input-sort-order">{{ entry_sort_order }}</label>
                <div class="col-sm-10">
                  <input type="text" name="payment_paymento_sort_order" value="{{ payment_paymento_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control"/>
                </div>
              </div></div>
              <div class="form-group"><div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
                <div class="col-sm-10">
                  <select name="payment_paymento_geo_zone_id" id="input-geo-zone" class="form-control">
                    <option value="0">{{ text_all_zones }}</option>
                    {% for geo_zone in geo_zones %}
                    {% if geo_zone.geo_zone_id == payment_paymento_geo_zone_id %}
                    <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
                    {% else %}
                    <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div></div>
              <div class="form-group"><div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="input-status">{{ entry_status }}</label>
                <div class="col-sm-10">
                  <select name="payment_paymento_status" id="input-status" class="form-control">
                    {% if payment_paymento_status %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div></div>
              <div class="form-group"><div class="row mb-3">
                <label class="col-sm-2 col-form-label">{{ entry_completed_status }}</label>
                <div class="col-sm-10">
                  <select name="payment_paymento_completed_status_id" class="form-control">
                    {% for order_status in order_statuses %}
                    {% if order_status.order_status_id == payment_paymento_completed_status_id %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                    {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div></div>
              <div class="form-group"><div class="row mb-3">
                <label class="col-sm-2 col-form-label">{{ entry_failed_status }}</label>
                <div class="col-sm-10">
                  <select name="payment_paymento_failed_status_id" class="form-control">
                    {% for order_status in order_statuses %}
                    {% if order_status.order_status_id == payment_paymento_failed_status_id %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                    {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div></div>
              <div class="form-group"><div class="row mb-3">
                <label class="col-sm-2 col-form-label">{{ entry_pending_status }}</label>
                <div class="col-sm-10">
                  <select name="payment_paymento_pending_status_id" class="form-control">
                    {% for order_status in order_statuses %}
                    {% if order_status.order_status_id == payment_paymento_pending_status_id %}
                    <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                    {% else %}
                    <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div></div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}